@import "./fonts";
@import "./null";
@import "./const";
@import "./mixins";
@import "./placeholder";
@import "./header";
@import "./_footer.scss";
@import "./components/slider";
@import "./components/grid";
@import "./components/columns";
@import "./components/popup";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: "Roboto", "Verdana", sans-serif;
    color: $color-white;
    @include font(2.8rem, 500, 160%)
}

.page {
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: $color-background;
}

.container {
    max-width: $content-width;
    margin: 0 auto;

}

h1 {
    @include font(4.5rem, 700, 100%);

    @include media-tablet {
        font-size: 3.2rem;
    }
}

h2 {
    @include font(3rem, 600, 128%);

    @include media-tablet {
        font-size: 2.5rem;
    }
}

._centered {
    text-align: center;
    margin: 0 auto;
}

._block {
    margin-bottom: 40px;
}



.text-block__text {
    margin-bottom: 9px;
}

.text-block__button {
    display: block;
}